.contact-section {
    padding: 50px;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form-container {
    flex: 1;
    padding-right: 50px;
  }

  .form-header {
    font-size: 32px;
    margin-bottom: 20px;
  }

  form {
    display: grid;
    gap: 10px;
  }

  .form-group {
    display: grid;
    gap: 10px;
    align-items: center;
  }

  label {
    font-weight: bold;
    text-align: left;
    color: black;
  }

  input,
  textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #6c757d;
    width: 100%;
  }

  textarea {
    height: 120px; 
    resize: vertical; 
  }

  button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #6c96da;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #6c757d;
  }

  .image-container {
    flex: 1;
    text-align: center;
    position: relative;
  }

  .contact-img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }