:root {
  font-family: Croissant One, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #f8f9fa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #6c96da;
}

img {
  max-width: 100%;
  height: auto;
}

:where(:not(:active):focus-visible) {
  outline-offset: 1px;
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}
header {
  background-color: #6c757d;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo img {
  vertical-align: middle;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li h2,
nav li h3 {
  margin: 0;
}

.hamburger {
  color: #6c757d;
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 9px;
}

.hamburger span:nth-child(4) {
  bottom: 0;
}

.hamburger.active span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
}

.hamburger.active + nav {
  display: flex;
}

.footer {
  background-color: #6c757d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer img {
  margin-bottom: 5px;
}

small {
  font-size: 12px;
  color: #777;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  background-color: #6c96da;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clock-button:hover {
  transform: scale(1.05);
}

.clock {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .clock-button {
    font-size: 18px;
    width: 100px;
    height: 30px;
  }
  .logo img {
    height: 48px;
    width: 48px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    background-color: #6c757d;
    padding: 20px;
    display: none;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hamburger {
    display: block;
  }
}
