@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

:root {
  font-family: inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #f8f9fa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #6c96da;
}

.titales {
  color: #6c757d;
  font-family: "Croissant One", sans-serif;
  padding: 20px;
}

p {
  color: black;
  size: bold;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:where(:not(:active):focus-visible) {
  outline-offset: 1px;
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}

header {
  background-color: #6c757d;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Croissant One", sans-serif;
}

.header-words {
  font-family: "Croissant One", sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
}

.header-words:hover {
  color: #6c96da;
}

a {
  list-style-type: none;
  text-decoration: none;
}

.logo {
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.logo img {
  vertical-align: middle;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li h2,
nav li h3 {
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav li a:hover {
  color: #6c96da;
}
.hamburger {
  color: #6c757d;
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
}

.hamburger.active span:nth-child(1) {
  top: 9px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger.active + nav {
  display: flex;
}

.header-section {
  display: flex;
  flex-direction: row;
}

main {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.titale {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6c757d;
  color: white;
}
footer {
  background-color: #6c757d;
  background-image: url(./assets/footer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 375px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

small {
  font-size: 12px;
  color: white;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  background-color: #6c96da;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clock-button:hover {
  transform: scale(1.05);
}

.clock {
  margin: 0 10px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6c757d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #6c96da;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .text-container,
  .image-container {
    padding-right: 0;
    text-align: center;
  }

  .clock-button {
    font-size: 18px;
    width: 100px;
    height: 30px;
  }
  .logo img {
    height: 48px;
    width: 48px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    background-color: #6c757d;
    padding: 20px;
    display: none;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav li a:hover {
    color: #6c96da;
  }

  .hamburger {
    display: block;
  }

  main {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
    height: 200px;
  }

  .result-item {
    flex-direction: column;
    border-radius: 8px;
  }

  .result-image img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  .result-content {
    padding: 20px;
  }

  .contact-container {
    flex-direction: column;
  }

  .form-container {
    align-items: center;
    width: 400px;
    padding: 0px;
  }

  .image-container {
    margin-top: 30px;
  }

  .spotlight-section {
    padding: 20px;
  }

  .spotlight-container {
    flex-direction: column;
  }

  .spotlight-post {
    width: 100%;
    padding: 10px;
  }

  .spotlight-post h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .spotlight-post div {
    font-size: 10px;
  }

  .read-more-button {
    font-size: 10px;
  }

  .spotlight-post img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .titales {
    color: #6c757d;
    font-family: "Croissant One", sans-serif;
    padding: 20px;
    font-size: 20px;
}
}
